* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .content {
    margin: 10% auto;
    padding: 0;
    background-color: antiquewhite;
    border-radius: 10px;
    height: 300px;
    width: 600px;
    overflow: hidden;
    border: 1px saddlebrown solid;
    box-shadow: 20px hsl(0, 0%, 3%);
    z-index: -1;
  }
  .show {
    padding: 10%;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-style: italic;
    width: fit-content;
  }
  
  .slide_content {
    float: left;
    width: 600px;
    height: 300px;
  }
  .slides {
    width: 2400px;
    -webkit-animation-name: slide;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    /* -webkit-animation-direction: alternate; */
    -webkit-animation-play-state: running;
    display: flex;
    justify-content: center;
    align-items: center;
 
  } 
  @keyframes slide {
    20% {
      margin-left: 0px;
    }
  
    40% {
      margin-left: calc(-600px * 1);
    }
  
    60% {
      margin-left: calc(-600px * 2);
    }
  
    80% {
      margin-left: calc(-600px * 3);
    }
  }